html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

ul {
  list-style: none;
  color: #1A1A1A;
}

a {
  color: #1A1A1A;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  padding: 0 10%;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1rem;
  font-family: nunito, serif;
  font-weight: 400;
  color: #4A4A4A;
}

.title,
.header-logo {
  font-size: 2.5rem;
  font-family: goldman, serif;
  font-weight: 700;
  color: #1A1A1A;
}

.btn {
  background-color: #066F14;
  border-radius: 5px;
  text-align: center;
  padding: 16px;
  color: #fff;
  border: none;
}

.btn:hover {
  color: #066F14;
  -webkit-animation: btn 7s ease infinite;
          animation: btn 7s ease infinite;
  background: linear-gradient(115deg, #ffff00 30%, #ffbb00 70%);
  box-shadow: 2px 2px 8px 0px #565656;
  background-size: 150% 150%;
}
.btn:hover a {
  color: #066F14;
}

@-webkit-keyframes btn {
  0%, 50% {
    background-position: 50% 0%;
  }
  50%, 100% {
    background-position: 100% 50%;
  }
  100%, 0% {
    background-position: 0% 50%;
  }
}

@keyframes btn {
  0%, 50% {
    background-position: 50% 0%;
  }
  50%, 100% {
    background-position: 100% 50%;
  }
  100%, 0% {
    background-position: 0% 50%;
  }
}
/*------------------- normalize style css ^ -------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.header-logo {
  width: 20vw;
}
.header-logo__link {
  font-size: 2rem;
  color: #066F14;
}
.header-nav {
  width: 50vw;
  display: flex;
  justify-content: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
}
.header-nav-item {
  position: relative;
}
.header-nav-item:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #f97c4b;
  transform: rotate(-2deg);
}
.header-nav-item:nth-child(2n):hover::after {
  content: "";
  position: absolute;
  transform: rotate(2deg);
}
.header-login {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 10%;
       column-gap: 10%;
  width: 20vw;
}
.header-login .btn {
  padding: 0.8rem 1rem;
}
.header-login a {
  color: #fff;
}

.hero {
  margin-top: 2rem;
  padding-right: 0;
}
.hero-wrapper__top {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-bottom: 10%;
  position: relative;
}
.hero-wrapper__top .hero-left {
  width: 50%;
  background: url("/img/leavs.png") right -10% bottom 20%/40% no-repeat;
}
.hero-wrapper__top .hero-left__title {
  width: 100%;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.hero-wrapper__top .hero-left__text {
  margin-bottom: 2.5rem;
  width: 70%;
}
.hero-wrapper__top .hero-left .hero-numbers {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 3.5rem;
}
.hero-wrapper__top .hero-left .hero-numbers__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero-wrapper__top .hero-left .hero-numbers__item b {
  font-size: 2.2rem;
  margin-bottom: 10%;
}
.hero-wrapper__top .hero-right {
  width: 50%;
}
.hero-wrapper__top .hero-right .hero-img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 500px;
  width: 100%;
  height: 105%;
  background: url("/img/title-plant.png") bottom right/contain no-repeat;
}
.hero-wrapper__top .hero-right .hero-img .img-label {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
}
.hero-wrapper__top .hero-right .hero-img .img-label__descr {
  color: #fff;
  width: 70%;
  background-color: #066F14;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  opacity: 0.7;
}
.hero-wrapper__top .hero-right .hero-img .img-label__descr span {
  display: block;
  width: 90%;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.hero-wrapper__top .hero-right .hero-img .img-label__line {
  background-color: #066F14;
  width: 35%;
  height: 3px;
  opacity: 0.7;
}
.hero-wrapper__top .hero-right .hero-img .img-label__point {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 16px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.31);
}
.hero-wrapper__top .hero-right .hero-img .img-label__point span {
  display: block;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background-color: #f97c4b;
}
.hero-wrapper__top .hero-right .hero-img .img-label:first-child {
  top: 10%;
  right: -16%;
}
.hero-wrapper__top .hero-right .hero-img .img-label:nth-child(2) {
  top: 22%;
  left: 0;
}
.hero-wrapper__top .hero-right .hero-img .img-label:nth-child(3) {
  bottom: 15%;
  right: -20%;
}
.hero-wrapper__bottom {
  width: 100%;
  margin-bottom: 7rem;
}
.hero-wrapper__bottom .hero-colection__conteiner {
  display: flex;
  justify-content: space-between;
}
.hero-wrapper__bottom .colection-conteiner {
  width: 42%;
}
.hero-wrapper__bottom .colection-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.hero-wrapper__bottom .colection-all {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  position: relative;
}
.hero-wrapper__bottom .colection-all svg {
  transition: 0.5s linear;
}
.hero-wrapper__bottom .colection-all:hover {
  color: #066F14;
  font-weight: bold;
}
.hero-wrapper__bottom .colection-all:hover::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #f97c4b;
  transform: rotate(-1deg);
  -webkit-animation: width 0.5s linear;
          animation: width 0.5s linear;
}
@-webkit-keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 20%;
  }
}
@keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 20%;
  }
}
.hero-wrapper__bottom .colection-all:hover svg {
  -webkit-animation: collection 1s linear infinite;
          animation: collection 1s linear infinite;
}
@-webkit-keyframes collection {
  0% {
    transform: scale(1.1) translateX(2px);
  }
  50% {
    transform: scale(1.2) translateX(4px);
  }
  100% {
    transform: scale(1.3) translateX(6px);
  }
}
@keyframes collection {
  0% {
    transform: scale(1.1) translateX(2px);
  }
  50% {
    transform: scale(1.2) translateX(4px);
  }
  100% {
    transform: scale(1.3) translateX(6px);
  }
}
.hero-wrapper__bottom .colection-all:hover svg path {
  fill: #f97c4b;
}
.hero-wrapper__bottom .colection-plants {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero-wrapper__bottom .colection-plants__item {
  width: 20%;
  max-height: 110px;
  padding: 1.5rem;
  background-color: #F6EDE8;
  border-radius: 10px;
}
.hero-wrapper__bottom .colection-plants__item img {
  width: 100%;
  max-height: 160px;
}
.hero-wrapper__bottom .colection-plants__item:nth-child(2n) {
  background-color: #F0F1F6;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.about-left {
  background-color: #066F14;
  width: 40%;
  margin-left: 2rem;
}
.about-left__img {
  position: relative;
  top: 2rem;
  left: 2rem;
  width: 100%;
  height: 100%;
}
.about-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-right__name {
  display: block;
  margin-bottom: 1rem;
}
.about-right__description {
  margin: 2rem 0 1rem 0;
}
.about-right span {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}
.about-right__btn {
  width: 30%;
}

.plants {
  text-align: center;
  margin-bottom: 8rem;
}
.plants-sort {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: center;
}
.plants-sort__item {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.plants-sort__item:nth-child(2):hover::after {
  position: absolute;
  transform: rotate(1deg);
}
.plants-sort__item:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f97c4b;
  transform: rotate(-1deg);
}
.plants-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.plants-list .plants-item {
  flex-basis: 20%;
  background-color: #EAF2E5;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  text-align: start;
}
.plants-list .plants-item img {
  display: block;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.plants-list .plants-item__name {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.plants-list .plants-item-rating {
  padding: 0;
  display: flex;
  margin-bottom: 10px;
}
.plants-btn {
  padding: 1rem 2rem;
}

.reviews {
  display: flex;
}
.reviews-left {
  width: 50%;
  padding-right: 1rem;
}
.reviews-left__title {
  margin-bottom: 1rem;
}
.reviews-left__text {
  margin-bottom: 2.5rem;
}
.reviews-left .reviews-card {
  color: rgba(236, 236, 236, 0.6);
  width: 110%;
  position: relative;
  background-color: #066F14;
  padding: 2% 2% 3% 3%;
  margin-bottom: 2rem;
}
.reviews-left .reviews-card__quotes {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.reviews-left .reviews-card .user-review {
  display: flex;
}
.reviews-left .reviews-card .user-review__avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
}
.reviews-left .reviews-card .user-review__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}
.reviews-left .reviews-card .user-review__name {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
.reviews-left .reviews-card__review {
  margin-top: 1rem;
  width: 90%;
  color: #ECECEC;
}
.reviews-right {
  width: 50%;
  height: inherit;
  background: url("/img/girl.png") center center/cover no-repeat;
}

.subscribe {
  margin-top: 10rem;
  padding: 5%;
  display: flex;
  background-color: #DFFFE3;
  position: relative;
}
.subscribe-bg {
  width: 33%;
  height: 120%;
  position: absolute;
  bottom: 0;
  right: 2%;
  background: url(/img/palma.png) center right/contain no-repeat;
}
.subscribe-title {
  margin-bottom: 1rem;
}
.subscribe-text {
  margin-bottom: 1rem;
}
.subscribe-wrapper {
  width: 55%;
}
.subscribe-wrapper .subscribe-form {
  display: flex;
  align-items: center;
}
.subscribe-wrapper .subscribe-form__input {
  width: 100%;
  height: 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.subscribe-wrapper .subscribe-form__submit {
  transform: translateX(-110%);
  height: 95%;
  padding: 0.7rem;
}

.instagram {
  margin-top: 5rem;
  text-align: center;
}
.instagram-title {
  margin-bottom: 1rem;
}
.instagram-text {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.instagram-photo {
  display: flex;
  position: relative;
}
.instagram-photo__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 2;
  cursor: pointer;
}
.instagram-photo__img {
  width: 20%;
}

.footer {
  display: flex;
  margin-top: 8rem;
}
.footer-left {
  width: 40%;
  height: inherit;
  margin-bottom: 2rem;
}
.footer-left__logo {
  margin-bottom: 1.5rem;
}
.footer-left__text {
  width: 80%;
}
.footer-left .footer-social {
  display: flex;
  margin-top: 1.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.footer-left .footer-social-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #DFFFE3;
}
.footer-left .footer-social-img:hover {
  border-radius: 50%;
}
.footer-left .footer-social-img:hover svg path {
  fill: #f97c4b;
}
.footer-right {
  width: 60%;
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.footer-right__wrapper h2 {
  font-size: 1.5rem;
}
.footer-right__wrapper .footer-list {
  padding: 0;
  color: #5A5A5A;
}
.footer-right__wrapper .footer-list__item {
  margin-bottom: 1rem;
}
.footer-right__wrapper .footer-list__item .footer-list__link {
  position: relative;
  color: #5A5A5A;
}
.footer-right__wrapper .footer-list__item .footer-list__link:nth-child(2n):hover::after {
  content: "";
  transform: rotate(2deg);
}
.footer-right__wrapper .footer-list__item .footer-list__link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #f97c4b;
  transform: rotate(-2deg);
}/*# sourceMappingURL=style.css.map */