html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.footer-right__wrapper .footer-list__item .footer-list__link:hover::after, .plants-sort__item:hover::after, .header-nav-item:hover::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #f97c4b;
  transform: rotate(-2deg);
  -webkit-animation: width 0.1s linear;
          animation: width 0.1s linear;
}
.footer-right__wrapper .footer-list__item .footer-list__link:hover:nth-child(2n)::after, .plants-sort__item:hover:nth-child(2n)::after, .header-nav-item:hover:nth-child(2n)::after {
  content: "";
  position: absolute;
  transform: rotate(2deg);
}
@-webkit-keyframes width {
  0% {
    width: 1%;
  }
  100%, 0% {
    width: 80%;
  }
}
@keyframes width {
  0% {
    width: 1%;
  }
  100%, 0% {
    width: 80%;
  }
}

.btn:hover {
  color: #066F14;
  -webkit-animation: btn 7s ease infinite;
          animation: btn 7s ease infinite;
  background: linear-gradient(115deg, #ffff00 30%, #ffbb00 70%);
  box-shadow: 2px 2px 8px 0px #565656;
  background-size: 150% 150%;
}
.btn:hover a {
  color: #066F14;
}
@-webkit-keyframes btn {
  0%, 50% {
    background-position: 50% 0%;
  }
  50%, 100% {
    background-position: 100% 50%;
  }
  100%, 0% {
    background-position: 0% 50%;
  }
}
@keyframes btn {
  0%, 50% {
    background-position: 50% 0%;
  }
  50%, 100% {
    background-position: 100% 50%;
  }
  100%, 0% {
    background-position: 0% 50%;
  }
}

ul {
  list-style: none;
  color: #1A1A1A;
}

a {
  color: #1A1A1A;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  padding: 0 10%;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1rem;
  font-family: nunito, serif;
  font-weight: 400;
  color: #4A4A4A;
}

.title,
.header-logo {
  font-size: 2.5rem;
  font-family: goldman, serif;
  font-weight: 700;
  color: #1A1A1A;
}

.btn {
  background-color: #066F14;
  border-radius: 5px;
  text-align: center;
  padding: 16px;
  color: #fff;
  border: none;
}

/*------------------- normalize style css ^ -------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.header-logo {
  width: 20vw;
}
.header-logo__link {
  font-size: 2rem;
  color: #066F14;
}
.header-burger {
  display: none;
}
.header .nav__wrapper {
  width: 60%;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-nav-item {
  position: relative;
}
.header-login {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 10%;
       column-gap: 10%;
  width: 20vw;
}
.header-login #login {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.header-login #login:hover {
  background: #ffbb00;
  box-shadow: 0 0 20px #ffbb00;
}
.header-login #login:hover a {
  color: #fff;
}
.header-login #login:hover a span {
  display: none;
}
.header-login #login a {
  color: #f97c4b;
}
.header-login #login a span {
  display: block;
  background: linear-gradient(360deg, transparent, #f97c4b);
  box-shadow: 0 0 5px #ffbb00, 0 0 25px #ffbb00, 0 0 50px #ffbb00, 0 0 100px #ffbb00;
}
.header-login #login a span:nth-child(1) {
  position: absolute;
  left: -100%;
  top: 0;
  height: 2px;
  width: 100%;
  -webkit-animation: line1 1s linear infinite;
          animation: line1 1s linear infinite;
}
@-webkit-keyframes line1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes line1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.header-login #login a span:nth-child(2) {
  position: absolute;
  height: 100%;
  width: 2px;
  right: 0;
  top: -100%;
  background: linear-gradient(360deg, #f97c4b, transparent);
  -webkit-animation: line2 1s linear infinite;
          animation: line2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
@-webkit-keyframes line2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@keyframes line2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.header-login #login a span:nth-child(3) {
  position: absolute;
  left: 100%;
  bottom: 0;
  height: 2px;
  width: 100%;
  -webkit-animation: line3 1s linear infinite;
          animation: line3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes line3 {
  0% {
    left: 100%;
  }
  50%, 100% {
    left: -100%;
  }
}
@keyframes line3 {
  0% {
    left: 100%;
  }
  50%, 100% {
    left: -100%;
  }
}
.header-login #login a span:nth-child(4) {
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 2px;
  -webkit-animation: line4 1s linear infinite;
          animation: line4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
@-webkit-keyframes line4 {
  0% {
    top: 100%;
  }
  50%, 100% {
    top: -100%;
  }
}
@keyframes line4 {
  0% {
    top: 100%;
  }
  50%, 100% {
    top: -100%;
  }
}
.header-login .btn {
  padding: 0.8rem 1rem;
}
.header-login a {
  color: #fff;
}

.hero {
  margin-top: 2rem;
  padding-right: 0;
}
.hero-wrapper__top {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-bottom: 10%;
  position: relative;
}
.hero-wrapper__top .hero-left {
  width: 50%;
}
.hero-wrapper__top .hero-left .hero-btn__section {
  display: flex;
  justify-content: space-between;
}
.hero-wrapper__top .hero-left .hero-btn__section .btn {
  height: 20%;
  align-self: center;
}
.hero-wrapper__top .hero-left .hero-btn__section .hero-leaf {
  position: relative;
  right: 0;
  top: -7vh;
  width: 30%;
  height: 7vh;
  transform: scale(4) rotate(10deg);
  justify-self: flex-end;
  background: url("/img/leavs.png") center center/contain no-repeat;
}
.hero-wrapper__top .hero-left__title {
  width: 100%;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.hero-wrapper__top .hero-left__text {
  margin-bottom: 2.5rem;
  width: 70%;
}
.hero-wrapper__top .hero-left .hero-numbers {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 3.5rem;
}
.hero-wrapper__top .hero-left .hero-numbers__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero-wrapper__top .hero-left .hero-numbers__item b {
  font-size: 2.2rem;
  margin-bottom: 10%;
}
.hero-wrapper__top .hero-right {
  width: 50%;
}
.hero-wrapper__top .hero-right .hero-img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 500px;
  width: 100%;
  height: 100%;
  background: url("/img/title-plant.png") top left/contain no-repeat;
}
.hero-wrapper__top .hero-right .hero-img .img-label {
  position: absolute;
  display: flex;
  align-items: flex-start;
  width: 50%;
}
.hero-wrapper__top .hero-right .hero-img .img-label:first-child {
  top: 8%;
  right: -8%;
}
.hero-wrapper__top .hero-right .hero-img .img-label:nth-child(2) {
  top: 17%;
  left: -12%;
}
.hero-wrapper__top .hero-right .hero-img .img-label:nth-child(3) {
  bottom: 40%;
  right: -25%;
}
.hero-wrapper__top .hero-right .hero-img .img-label__descr {
  color: #fff;
  width: 70%;
  background-color: #066F14;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  opacity: 0.7;
  padding-right: 0;
}
.hero-wrapper__top .hero-right .hero-img .img-label__descr:hover span {
  -webkit-animation: hint 1s linear;
          animation: hint 1s linear;
  visibility: visible;
  height: 100%;
  opacity: 1;
}
.hero-wrapper__top .hero-right .hero-img .img-label__descr span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
  visibility: hidden;
  height: 1px;
}
@-webkit-keyframes hint {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes hint {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.hero-wrapper__top .hero-right .hero-img .img-label__descr span ul {
  list-style: circle;
  padding: 0;
}
.hero-wrapper__top .hero-right .hero-img .img-label__descr span ul li {
  color: black;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.hero-wrapper__top .hero-right .hero-img .img-label__line {
  background-color: #066F14;
  position: relative;
  top: 18px;
  width: 35%;
  height: 3px;
  opacity: 0.7;
}
.hero-wrapper__top .hero-right .hero-img .img-label__point {
  position: relative;
  top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 16px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.31);
}
.hero-wrapper__top .hero-right .hero-img .img-label__point span {
  display: block;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background-color: #f97c4b;
}
.hero-wrapper__bottom {
  width: 100%;
  margin-bottom: 7rem;
}
.hero-wrapper__bottom .hero-colection__conteiner {
  display: flex;
  justify-content: space-between;
}
.hero-wrapper__bottom .colection-conteiner {
  width: 42%;
}
.hero-wrapper__bottom .colection-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.hero-wrapper__bottom .colection-all {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  position: relative;
  width: 50%;
}
.hero-wrapper__bottom .colection-all svg {
  transition: 0.5s linear;
}
.hero-wrapper__bottom .colection-all:hover {
  color: #066F14;
  font-weight: bold;
}
.hero-wrapper__bottom .colection-all:hover::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #f97c4b;
  transform: rotate(-2deg);
  -webkit-animation: width 0.3s linear;
          animation: width 0.3s linear;
}
@keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 50%;
  }
}
.hero-wrapper__bottom .colection-all:hover svg {
  -webkit-animation: collection 1s linear infinite;
          animation: collection 1s linear infinite;
}
@-webkit-keyframes collection {
  0% {
    transform: scale(1.1) translateX(2px);
  }
  50% {
    transform: scale(1.2) translateX(4px);
  }
  100% {
    transform: scale(1.3) translateX(6px);
  }
}
@keyframes collection {
  0% {
    transform: scale(1.1) translateX(2px);
  }
  50% {
    transform: scale(1.2) translateX(4px);
  }
  100% {
    transform: scale(1.3) translateX(6px);
  }
}
.hero-wrapper__bottom .colection-all:hover svg path {
  fill: #f97c4b;
}
.hero-wrapper__bottom .colection-plants {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero-wrapper__bottom .colection-plants__item {
  width: 20%;
  max-height: 110px;
  padding: 1.5rem;
  background-color: #F6EDE8;
  border-radius: 10px;
}
.hero-wrapper__bottom .colection-plants__item img {
  width: 100%;
  max-height: 160px;
}
.hero-wrapper__bottom .colection-plants__item:nth-child(2n) {
  background-color: #F0F1F6;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.about-left {
  background-color: #066F14;
  width: 40%;
  margin-left: 2rem;
}
.about-left__img {
  position: relative;
  top: 2rem;
  left: 2rem;
  width: 100%;
  height: 100%;
}
.about-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-right__name {
  display: block;
  margin-bottom: 1rem;
}
.about-right__description {
  margin: 2rem 0 1rem 0;
}
.about-right span {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}
.about-right__btn {
  width: 30%;
}

.plants {
  text-align: center;
  margin-bottom: 8rem;
}
.plants-sort {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: center;
}
.plants-sort__item {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.plants-sort__item:nth-child(2)::after {
  transform: rotate(1deg);
}
.plants-sort__item:hover::after {
  width: 70%;
  bottom: 0;
  left: 10%;
  transform: rotate(-1deg);
}
.plants-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.plants-list .plants-item {
  flex-basis: 20%;
  background-color: #EAF2E5;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  text-align: start;
}
.plants-list .plants-item img {
  display: block;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.plants-list .plants-item__name {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.plants-list .plants-item-rating {
  padding: 0;
  display: flex;
  margin-bottom: 10px;
}
.plants-btn {
  padding: 1rem 2rem;
}

.reviews {
  display: flex;
}
.reviews-left {
  width: 50%;
  padding-right: 1rem;
}
.reviews-left__title {
  margin-bottom: 1rem;
}
.reviews-left__text {
  margin-bottom: 2.5rem;
}
.reviews-left .reviews-card {
  color: rgba(236, 236, 236, 0.6);
  width: 110%;
  position: relative;
  background-color: #066F14;
  padding: 2% 2% 3% 3%;
  margin-bottom: 2rem;
}
.reviews-left .reviews-card__quotes {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.reviews-left .reviews-card .user-review {
  display: flex;
}
.reviews-left .reviews-card .user-review__avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
}
.reviews-left .reviews-card .user-review__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}
.reviews-left .reviews-card .user-review__name {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
.reviews-left .reviews-card__review {
  margin-top: 1rem;
  width: 90%;
  color: #ECECEC;
}
.reviews-right {
  width: 50%;
  height: inherit;
  background: url("/img/girl.png") center center/cover no-repeat;
}

.subscribe {
  margin-top: 10rem;
  padding: 5%;
  display: flex;
  background-color: #DFFFE3;
  position: relative;
}
.subscribe-bg {
  width: 33%;
  height: 120%;
  position: absolute;
  bottom: 0;
  right: 2%;
  background: url(/img/palma.png) center right/contain no-repeat;
}
.subscribe-title {
  margin-bottom: 1rem;
}
.subscribe-text {
  margin-bottom: 1rem;
}
.subscribe-wrapper {
  width: 55%;
}
.subscribe-wrapper .subscribe-form {
  display: flex;
  align-items: center;
  position: relative;
}
.subscribe-wrapper .subscribe-form__input {
  width: 100%;
  height: 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.subscribe-wrapper .subscribe-form__submit {
  position: absolute;
  right: 1%;
  height: 90%;
  padding: 0.7rem;
}

.instagram {
  margin-top: 5rem;
  text-align: center;
}
.instagram-title {
  margin-bottom: 1rem;
}
.instagram-text {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.instagram-photo {
  display: flex;
  position: relative;
}
.instagram-photo__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 2;
  cursor: pointer;
}
.instagram-photo__img {
  width: 20%;
}

.footer {
  display: flex;
  margin-top: 8rem;
}
.footer-left {
  width: 40%;
  height: inherit;
  margin-bottom: 2rem;
}
.footer-left__logo {
  margin-bottom: 1.5rem;
}
.footer-left__text {
  width: 80%;
}
.footer-left .footer-social {
  display: flex;
  margin-top: 1.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.footer-left .footer-social-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #DFFFE3;
}
.footer-left .footer-social-img:hover {
  border-radius: 50%;
  cursor: pointer;
}
.footer-left .footer-social-img:hover svg path {
  fill: #f97c4b;
}
.footer-right {
  width: 60%;
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.footer-right__wrapper h2 {
  font-size: 1.5rem;
}
.footer-right__wrapper .footer-list {
  padding: 0;
  color: #5A5A5A;
}
.footer-right__wrapper .footer-list__item {
  margin-bottom: 1rem;
}
.footer-right__wrapper .footer-list__item .footer-list__link {
  position: relative;
  color: #5A5A5A;
}

@media screen and (min-width: 1555px) {
  .hero-wrapper__top .hero-right .hero-img .img-label:first-child {
    top: 10%;
    right: -8%;
  }
  .hero-wrapper__top .hero-right .hero-img .img-label:nth-child(2) {
    top: 20%;
    left: -10%;
  }
  .hero-wrapper__top .hero-right .hero-img .img-label:nth-child(3) {
    bottom: 25%;
    right: -25%;
  }
}
@media (max-width: 575px) {
  .btn {
    padding: 0.5rem;
  }
  .title,
.header-logo {
    font-size: 1.25rem;
  }
  body {
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }
  .header {
    display: block;
  }
  .header-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .header-logo__link {
    font-size: 1.5rem;
  }
  .header-login {
    width: 100%;
    justify-content: center;
  }
  .header-login .btn {
    padding: 0.3rem;
  }
  .header-burger {
    display: block;
    width: 10%;
    height: 2px;
    background-color: #f97c4b;
    position: relative;
    z-index: 3;
    transition: 0.4s linear;
  }
  .header-burger::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 100%;
    height: 2px;
    background-color: #f97c4b;
    transition: 0.4s linear;
  }
  .header-burger::before {
    content: "";
    position: absolute;
    right: 0;
    top: -0.5rem;
    width: 70%;
    height: 2px;
    background-color: #f97c4b;
    transition: 0.4s linear;
  }
  .header .open {
    background-color: transparent;
    transform: rotate(360deg);
    position: fixed;
    bottom: 15%;
    right: 45%;
  }
  .header .open::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #f97c4b;
    transform: rotate(45deg);
    box-shadow: 0 0 5px #f97c4b;
  }
  .header .open::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #066F14;
    transform: rotate(-45deg);
    box-shadow: 0 0 5px #066F14;
  }
  .header .nav__wrapper {
    background: rgba(84, 82, 82, 0.7);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2;
    overflow: hidden;
    transition: 1s linear;
  }
  .header .nav__wrapper .header-nav {
    text-align: center;
    margin: 0 auto;
    height: 50vh;
    flex-direction: column;
    padding: 0;
  }
  .header .nav__wrapper .header-nav-item {
    z-index: 5;
    display: flex;
    align-items: center;
    position: relative;
    left: -200%;
    justify-content: center;
    opacity: 0;
    transition: 1s linear;
  }
  .header .nav__wrapper .header-nav-item:nth-child(1) {
    transition-delay: 0.5s;
  }
  .header .nav__wrapper .header-nav-item:nth-child(2) {
    transition-delay: 0.75s;
  }
  .header .nav__wrapper .header-nav-item:nth-child(3) {
    transition-delay: 1s;
  }
  .header .nav__wrapper .header-nav-item:nth-child(4) {
    transition-delay: 1.25s;
  }
  .header .nav__wrapper .header-nav-item:nth-child(5) {
    transition-delay: 1.5s;
  }
  .header .nav__wrapper .header-nav-item a {
    color: #fff;
    font-family: goldman, serif;
    font-size: 1.5rem;
  }
  .header .nav__wrapper .header-nav-item a:hover, .header .nav__wrapper .header-nav-item a:focus, .header .nav__wrapper .header-nav-item a:active {
    color: #f97c4b;
    text-shadow: 0px 0px 30px #066F14;
  }
  .header .open-menu {
    left: 0;
  }
  .header .open-menu .header-nav-item {
    transition: 1s linear;
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  .hero-wrapper__top {
    text-align: center;
    height: 100%;
  }
  .hero-wrapper__top .hero-left {
    width: 100%;
    background: url("/img/leavs.png") 115% 85%/44% no-repeat;
  }
  .hero-wrapper__top .hero-left__title {
    font-size: 1.9230769231rem;
  }
  .hero-wrapper__top .hero-left__text {
    width: 100%;
  }
  .hero-wrapper__top .hero-left .hero-btn__section {
    position: relative;
  }
  .hero-wrapper__top .hero-left .hero-btn__section button {
    margin: 0 auto;
    padding: 0.5rem;
  }
  .hero-wrapper__top .hero-left .hero-btn__section .hero-leaf {
    position: absolute;
    bottom: 10%;
    right: -20%;
    height: inherit;
    background-size: 150%;
    transform: rotate(-55deg);
    overflow: hidden;
    display: none;
  }
  .hero-wrapper__top .hero-left .hero-numbers {
    width: 100%;
  }
  .hero-wrapper__top .hero-left .hero-numbers__item b {
    font-size: 1.5rem;
  }
  .hero-wrapper__top .hero-right {
    display: none;
  }
  .hero-wrapper__bottom {
    text-align: center;
  }
  .hero-wrapper__bottom .hero-colection__conteiner {
    display: block;
  }
  .hero-wrapper__bottom .hero-colection__conteiner .colection-conteiner {
    width: 100%;
    position: relative;
  }
  .hero-wrapper__bottom .hero-colection__conteiner .colection-conteiner .colection-title {
    font-size: 1.6666666667rem;
  }
  .hero-wrapper__bottom .hero-colection__conteiner .colection-conteiner .colection-all {
    position: absolute;
    left: -30%;
    bottom: -100%;
    transform: rotate(90deg);
  }
  .hero-wrapper__bottom .hero-colection__conteiner .colection-plants {
    width: 96%;
  }
  .hero-wrapper__bottom .hero-colection__conteiner .colection-plants__item {
    flex: 0 0 20%;
    padding: 1rem;
  }
  .about {
    flex-direction: column;
    position: relative;
    margin-bottom: 4rem;
  }
  .about-left {
    position: absolute;
    top: -5%;
    right: 5%;
  }
  .about-left__img {
    top: 1rem;
    left: 1rem;
  }
  .about-right {
    width: 100%;
    text-align: center;
  }
  .about-right__name {
    width: 50%;
    text-align: start;
  }
  .about-right .title {
    width: 50%;
    font-size: 1rem;
  }
  .about-right__description {
    text-align: start;
  }
  .about-right__btn {
    width: 40%;
    margin: 0 auto;
  }
  .plants {
    margin-bottom: 4rem;
  }
  .plants-sort {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .plants-list {
    padding: 0;
    justify-content: center;
  }
  .plants-list .plants-item {
    flex-basis: 80%;
    text-align: center;
    padding: 0;
  }
  .plants-list .plants-item img {
    height: 50%;
  }
  .plants-list .plants-item-rating {
    justify-content: center;
  }
  .reviews {
    text-align: center;
    margin-bottom: 2rem;
  }
  .reviews-right {
    display: none;
  }
  .reviews-left {
    width: 100%;
  }
  .reviews-left .reviews-card {
    border-radius: 10px;
    width: 100%;
    text-align: start;
  }
  .subscribe {
    margin-top: 0;
    position: relative;
  }
  .subscribe-bg {
    width: 60%;
    right: -10%;
    bottom: 15%;
    height: 100%;
  }
  .subscribe-form {
    position: absolute;
    bottom: -15%;
    width: 70vw;
  }
  .subscribe-form input {
    border: none;
    outline: 1px solid #f97c4b;
    width: 100%;
  }
  .instagram-text {
    width: 100%;
    text-align: start;
  }
  .instagram-photo {
    flex-wrap: wrap;
    justify-content: center;
  }
  .instagram-photo__icon {
    height: 32.5%;
    width: 45%;
    top: 67%;
    left: 27.5%;
  }
  .instagram-photo img {
    width: 45%;
  }
  .instagram-photo img:last-child {
    margin-top: 0.5rem;
  }
  .footer {
    margin-top: 4rem;
    width: 100%;
  }
  .footer-right {
    margin-top: 0.5rem;
    width: 60%;
    flex-direction: column;
    order: 1;
    justify-content: start;
  }
  .footer-right__list {
    height: 0;
    width: 0;
    visibility: hidden;
    -webkit-animation: hideFooterNav 0.5s linear;
            animation: hideFooterNav 0.5s linear;
  }
  @-webkit-keyframes hideFooterNav {
    0% {
      height: 15vh;
      visibility: visible;
      border-radius: 10px;
      width: 80%;
      background-color: #DFFFE3;
    }
    100% {
      height: 0;
      width: 0;
      visibility: hidden;
    }
  }
  @keyframes hideFooterNav {
    0% {
      height: 15vh;
      visibility: visible;
      border-radius: 10px;
      width: 80%;
      background-color: #DFFFE3;
    }
    100% {
      height: 0;
      width: 0;
      visibility: hidden;
    }
  }
  .footer-right__list .footer-list__item {
    opacity: 0;
  }
  .footer-right .show {
    visibility: visible;
    -webkit-animation: showFooterNav 1s linear;
            animation: showFooterNav 1s linear;
    height: 15vh;
    width: 80%;
    padding: 1rem;
    border-radius: 10px;
    margin: 0;
    background-color: #DFFFE3;
    box-shadow: 5px 5px 10px rgb(201, 201, 201);
    margin-bottom: 1rem;
  }
  .footer-right .show .footer-list__item {
    opacity: 1;
    transition: 1s linear;
  }
  .footer-right .show .footer-list__item a {
    color: #f97c4b;
  }
  .footer-right .show .footer-list__item:nth-child(1) {
    transition-delay: 0.25s;
  }
  .footer-right .show .footer-list__item:nth-child(2) {
    transition-delay: 0.5s;
  }
  .footer-right .show .footer-list__item:nth-child(3) {
    transition-delay: 0.75s;
  }
  .footer-right .show .footer-list__item:nth-child(4) {
    transition-delay: 1s;
  }
  @-webkit-keyframes showFooterNav {
    0% {
      height: 0;
      width: 0;
    }
    100% {
      height: 15vh;
      width: 80%;
    }
  }
  @keyframes showFooterNav {
    0% {
      height: 0;
      width: 0;
    }
    100% {
      height: 15vh;
      width: 80%;
    }
  }
  .footer-left {
    width: 40%;
    order: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-left__logo {
    font-size: 2.5rem;
    font-family: goldman, serif;
    margin: 0;
    color: #066F14;
  }
  .footer-left__text {
    display: none;
  }
  .footer-social {
    width: 50%;
    flex-direction: column;
    row-gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */