@import "normalize";
@import "variables";
@import "partials";
@import "mixins";

ul {
  list-style: none;
  color: $title-color;
}

a {
  color: $title-color;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  padding: 0 10%;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;

  font-size: $main-fsize;
  font-family: $main-font;
  font-weight: 400;
  color: $text-color;
}

.title,
.header-logo {
  font-size: $title-fsize;
  font-family: $title-font;
  font-weight: 700;
  color: $title-color;
}

.btn {
  background-color: $main-color;
  border-radius: 5px;
  text-align: center;
  padding: 16px;
  color: #fff;
  border: none;
}

.btn:hover {
  color: $main-color;
  animation: btn 7s ease infinite;
  background: linear-gradient(115deg, #ffff00 30%, #ffbb00 70%);
  box-shadow: 2px 2px 8px 0px #565656;
  background-size: 150% 150%;

  a {
    color: $main-color;
  }

}

@keyframes btn {

  0%,
  50% {
    background-position: 50% 0%;
  }

  50%,
  100% {
    background-position: 100% 50%;

  }

  100%,
  0% {
    background-position: 0% 50%;
  }
}




/*------------------- normalize style css ^ -------------------*/