@media screen and (min-width: 1025px) and (max-width: 1400) {

  .hero {
    &-wrapper__top {
      .hero-right {
        .hero-img {

          .img-label:first-child {
            top: 10%;
            right: -8%;
          }

          .img-label:nth-child(2) {
            top: 20%;
            left: -20%;
          }

          .img-label:nth-child(3) {
            bottom: 25%;
            right: -25%;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 2.2rem;
  }

  .header {
    &-logo {
      font-size: 2rem;
      width: auto;
      margin-right: 5vw;
    }

    &-login {

      .btn {
        padding: 0.7rem;
      }
    }

    .nav__wrapper {
      width: auto;

      .header-nav {
        column-gap: 1rem;

        &-item {
          font-size: 0.8em;
        }
      }
    }
  }

  .hero {
    &-wrapper__top {
      .hero-left {

        .title {
          width: 60%;
          font-size: 2.7rem;
        }

        .hero-numbers {
          width: 60%;
        }

        .hero-btn__section {
          .hero-leaf {
            top: 0vh;
          }
        }
      }

      .hero-right {
        .hero-img {
          min-width: 0;

          .img-label:first-child {
            top: 10%;
            left: 50%;
          }

          .img-label:nth-child(2) {
            top: 25%;
            left: -15%;
          }

          .img-label:nth-child(3) {
            bottom: 25%;
            right: -15%;
          }
        }
      }
    }

    &-wrapper__bottom {
      .colection-title {
        font-size: 1.7rem;
      }

      .colection-all {
        width: 100%;
      }

      .colection-plants {
        gap: 1rem;
        justify-content: flex-start;

        &__item {
          height: inherit;
          flex-basis: 22%;

        }
      }
    }
  }

  .about {
    display: block;

    &-left {
      float: left;
      margin-right: 2rem;

      &__img {
        height: auto;
      }
    }

    &-right {
      display: block;
      width: 100%;

      .title {
        font-size: 2rem;
      }
    }
  }

  .plants {
    &-list {
      justify-content: center;
      gap: .5rem;

      .plants-item {
        flex-basis: 30%;
      }
    }
  }

  .footer {
    &-left {
      width: 30%;

    }

    &-right {
      width: 70%;
      column-gap: none;
    }
  }
}


//! Screen > 575 and < 768
@media screen and (min-width: 575px) and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .header {
    height: auto;

    &-logo {
      width: auto;

      a {
        font-size: 2rem;
      }
    }

    &-nav {
      column-gap: .5rem;

      &-item {
        font-size: .7rem;
      }
    }

    &-login {
      margin-left: 1rem;

      .btn {
        padding: 5px;
        font-size: .8rem;
      }
    }
  }

  .hero {
    .hero-wrapper__top {
      position: relative;


      .hero-left {
        width: 100%;
        background: url(/img/leavs.png) right 50% bottom 27% / 20% no-repeat;

        &__numbers {
          position: relative;
          width: 100%;
          bottom: 0;
        }

        .hero-leaf {
          display: none;
        }

        .btn {
          padding: .7rem;
        }

        .title {
          font-size: 2rem;
        }

        .title,
        &__text,
        .hero-btn__section {
          width: 60%;
        }

        &__text {
          width: 55%;
        }

      }

      .hero-right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;

        .hero-img {
          min-width: auto;
          margin: 0;
          padding: 0;
          width: 85%;
          text-align: right;

          .img-label {
            width: 70%;

            &:nth-child(1) {
              right: 0;
              left: 55%;
              top: 5%;

            }

            &:nth-child(2) {
              // left: -30%;
              top: 16.5%;
            }

            &:nth-child(3) {
              bottom: 43%;
              left: 50%;
            }

            &__line {
              width: 20%;
            }

            &__descr {
              width: 60%;
              padding: 0.4rem;
            }
          }
        }
      }
    }

    &-wrapper__bottom {
      .colection-conteiner {
        width: 50%;
        margin-right: 1rem;

        .title {
          font-size: 1.6rem;
        }

        .colection-all {
          width: 100%;
        }
      }

      .colection-plants {
        justify-content: start;
        gap: 1rem;
      }
    }
  }

  .about {
    display: block;
    margin-bottom: 5rem;

    &-left {
      float: left;
      margin-right: 10%;
      height: auto;

      &__img {
        height: auto;
      }
    }

    &-right {
      display: block;
      width: 100%;

      .title {
        font-size: 1.8rem;
      }

      span {
        text-align: center;
      }

      &__btn {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .plants {
    margin-bottom: 5rem;

    &-list {
      padding: 0;

      .plants-item {
        flex-basis: 40%;
      }
    }
  }

  .reviews {
    position: relative;

    &-right {
      display: none;
    }

    &-left {
      width: 100%;

      &__title {
        text-align: center;
      }

      .reviews-card {
        width: 100%;
      }
    }
  }

  .subscribe {
    margin-top: 5rem;

    &-wrapper {
      width: 100%;
    }

    &-title,
    &-text {
      width: 70%;
    }

    &-form {
      width: 70%;
    }
  }

  .footer {
    &-left {
      width: 20%;

      &__text {
        display: none;
      }

      .footer-social {
        flex-direction: column;
        width: 50%;
        gap: 1rem;

        &-img {
          padding: 0.7rem;
        }

      }
    }

    &-right {
      column-gap: 1rem;
      width: 80%;

    }
  }
}


//! Screen < 575px
@media (max-width: 575px) {

  .btn {
    padding: .5rem;
  }

  .title,
  .header-logo {
    font-size: calc($title-fsize/1.5)
  }

  body {
    position: relative;
    margin: 0 auto;
    z-index: 1;

  }

  .header {
    display: block;

    &-mob {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }

    &-logo {
      &__link {
        font-size: 1.5rem;
      }
    }

    &-login {
      width: 100%;
      justify-content: center;

      .btn {
        padding: 0.3rem
      }
    }

    &-burger {
      display: block;
      width: 10%;
      height: 2px;
      background-color: $decor-color;
      position: relative;
      z-index: 3;
      transition: .4s linear;
      padding: 0;
      border: none;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        width: 100%;
        height: 2px;
        background-color: $decor-color;
        transition: .4s linear;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: -.5rem;
        width: 70%;
        height: 2px;
        background-color: $decor-color;
        transition: .4s linear;
      }
    }

    .open {
      background-color: transparent;
      transform: rotate(360deg);
      position: fixed;
      top: 4%;
      right: 11%;


      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #fff 0%, $decor-color 100%);
        background-size: 200%;
        transform: rotate(45deg);
        box-shadow: 0 0 5px $decor-color;
        animation: btn 2s ease infinite;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #fff 0%, $decor-color 100%);
        background-size: 200%;
        transform: rotate(-45deg);
        box-shadow: 0 0 5px $decor-color;
        animation: btn 2s ease infinite;
      }
    }

    .nav__wrapper {
      background: rgb(84, 82, 82, .8);
      display: flex;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 2;
      overflow: hidden;
      transition: 1s linear;


      .header-nav {

        text-align: center;
        margin: 0 auto;
        height: 45vh;
        flex-direction: column;
        padding: 0;

        &-item {
          z-index: 5;
          display: flex;
          align-items: center;
          position: relative;
          left: -200%;
          justify-content: center;
          opacity: 0;
          transition: 1s linear;

          &:nth-child(1) {

            transition-delay: .5s;
          }

          &:nth-child(2) {

            transition-delay: .75s;
          }

          &:nth-child(3) {

            transition-delay: 1s;
          }

          &:nth-child(4) {

            transition-delay: 1.25s;
          }

          &:nth-child(5) {

            transition-delay: 1.5s;
          }

          a {
            color: #fff;
            font-family: $title-font;
            font-size: 1.5rem;

            &:hover,
            &:focus,
            &:active {
              color: $decor-color;
              text-shadow: 0px 0px 30px $main-color;
              ;
            }
          }
        }
      }
    }

    .open-menu {
      left: 0;

      .header-nav-item {
        transition: 1s linear;
        left: 0;
        visibility: visible;
        opacity: 1;
      }
    }

  }

  .hero {
    &-wrapper__top {
      text-align: center;
      height: 100%;
      margin-top: 4rem;

      .hero-left {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 100%;
        background: url("/img/leavs.png") top left / 20% no-repeat;

        &__title {
          font-size: calc($title-fsize/1.5);
          width: 60%;
        }

        &__text {
          width: 100%;
        }

        .hero-btn__section {
          position: relative;
          width: auto;

          .btn {
            height: auto;
            margin: 0 auto;
            padding: .5rem;
          }

          .hero-leaf {
            position: absolute;
            bottom: 10%;
            right: -20%;
            height: inherit;
            background-size: 150%;
            transform: rotate(-55deg);
            overflow: hidden;
            display: none;
          }
        }

        .hero-numbers {
          width: 100%;

          &__item {
            b {
              font-size: calc($main-fsize *1.5)
            }

          }
        }

      }

      .hero-right {
        display: none;
      }
    }

    &-wrapper__bottom {
      text-align: center;

      .hero-colection__conteiner {
        display: block;

        .colection-conteiner {
          width: 100%;
          position: relative;

          .colection-title {
            font-size: calc($title-fsize/1.5);
          }

          .colection-all {
            position: absolute;
            left: -30%;
            bottom: -100%;
            transform: rotate(90deg);
          }

        }

        .colection-plants {
          width: 96%;

          &__item {
            flex: 0 0 20%;
            padding: 1rem;
          }
        }
      }
    }
  }

  .about {
    display: block;
    margin-bottom: 4rem;

    &-left {
      float: right;
      margin-left: 1rem;

      &__img {
        box-shadow: -10px -10px 0 $main-color;
      }
    }

    &-right {
      width: 100%;
      text-align: center;
      display: block;

      &__name {
        width: 50%;
        text-align: start;
      }

      .title {
        width: 50%;
        font-size: 1.2rem;
      }

      &__description {
        text-align: start;
        margin-top: 3rem;
      }

      &__btn {
        width: 40%;
        margin: 0 auto;
      }
    }
  }


  .plants {
    margin-bottom: 4rem;

    &-sort {
      column-gap: 0;
    }

    &-list {
      padding: 0;
      justify-content: center;


      .plants-item {
        flex-basis: 80%;
        text-align: center;
        padding: 0;

        &:hover {
          padding-bottom: 1rem;
        }

        &__conteiner {
          height: inherit;

          img {
            height: 50%;
          }

          .plants-item__price {
            text-align: center;
            margin: 1rem auto;
          }

          .plants-item-rating {
            justify-content: center;
          }
        }

      }
    }
  }

  .reviews {
    text-align: center;
    margin-bottom: 2rem;

    &-right {
      display: none;
    }

    &-left {
      width: 100%;

      .reviews-card {
        border-radius: 10px;
        width: 100%;
        text-align: start;
      }
    }

  }

  .subscribe {
    margin-top: 0;
    position: relative;

    &-bg {
      width: 60%;
      right: -10%;
      bottom: 15%;
      height: 100%;
    }

    &-form {
      position: absolute;
      bottom: -15%;
      width: 70vw;


      input {
        border: none;
        outline: 1px solid $decor-color;
        width: 100%;
      }

      &__submit {}
    }
  }

  .instagram {
    &-text {
      width: 100%;
      text-align: start;
    }

    &-photo {
      flex-wrap: wrap;
      justify-content: center;

      &__icon {
        height: 32.5%;
        width: 45%;
        top: 67%;
        left: 27.5%;
      }

      img {
        width: 45%;

        &:last-child {
          margin-top: 0.5rem;
        }
      }
    }
  }

  .footer {
    margin-top: 4rem;
    width: 100%;

    &-right {
      margin-top: .5rem;
      width: 60%;
      flex-direction: column;
      order: 1;
      justify-content: start;

      &__title {
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          visibility: visible;
          top: 15%;
          right: 15%;
          width: .5rem;
          height: .5rem;
          border: 1px solid $decor-color;
          border-top: none;
          border-left: none;
          animation: jumping 1s linear infinite;
        }

        .footer-menu-open {
          .footer-right__title {
            &::after {
              background: #000;
            }
          }

        }

        @keyframes jumping {
          0% {
            transform: translateY(0) scale(1) rotate(45deg);
          }

          100% {
            transform: translateY(.3rem) scale(1.1) rotate(45deg);
          }
        }

      }


      &__list {
        height: 0;
        width: 0;
        visibility: hidden;
        animation: hideFooterNav .5s linear;


        @keyframes hideFooterNav {
          0% {
            height: 15vh;
            visibility: visible;
            border-radius: 10px;
            width: 80%;
            background-color: $second-color;
          }

          100% {
            height: 0;
            width: 0;
            visibility: hidden;
          }
        }

        .footer-list__item {
          opacity: 0;
        }
      }

      .show {
        visibility: visible;
        animation: showFooterNav .5s linear;
        height: inherit;
        width: 80%;
        padding: 1rem 1rem .1rem 1rem;
        border-radius: 10px;
        margin: 0;
        background-color: $second-color;
        box-shadow: 5px 5px 10px rgb(201, 201, 201);
        margin-bottom: 1rem;

        .footer-list__item {
          opacity: 1;
          transition: .5s linear;

          a {
            color: $decor-color;
          }

          &:nth-child(1) {
            transition-delay: .11s;
          }

          &:nth-child(2) {
            transition-delay: .22s;
          }

          &:nth-child(3) {
            transition-delay: .33s;
          }

          &:nth-child(4) {
            transition-delay: .5s;
          }

        }
      }

      @keyframes showFooterNav {
        0% {
          height: 0;
          width: 0;

        }

        100% {
          height: 15vh;
          width: 80%;

        }

      }
    }

    &-left {
      width: 40%;
      order: 2;
      display: flex;
      align-items: center;
      flex-direction: column;

      &__logo {
        font-size: 2rem;
        font-family: $title-font;
        margin: 0;
        color: $main-color;
      }

      &__text {
        display: none;
      }


    }

    &-social {
      width: 50%;
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}