//? button border animation mixin
@mixin borderAnimation ($text, $color, $shadow, $direction, $one: 0s, $two: .25s, $three: .5s, $four: .75s) {
  color: $text;

  span {
    display: block;
    background: linear-gradient(360deg, transparent, $color);
    box-shadow:
      0 0 5px $shadow,
      0 0 25px $shadow,
      0 0 50px $shadow,
      0 0 100px $shadow;
    ;

    &:nth-child(1) {
      position: absolute;
      left: -($direction);
      top: 0;
      height: 2px;
      width: 100%;
      animation: line1 1s linear infinite;
    }

    @keyframes line1 {

      0% {
        left: -($direction);
      }

      50%,
      100% {
        left: $direction;
      }

    }

    &:nth-child(2) {
      position: absolute;
      height: 100%;
      width: 2px;
      right: 0;
      top: -($direction);
      animation: line2 1s linear infinite;
      animation-delay: $two;
    }

    @keyframes line2 {

      0% {
        top: -($direction);
      }

      50%,
      100% {
        top: $direction;
      }
    }

    &:nth-child(3) {
      position: absolute;
      left: $direction;
      bottom: 0;
      height: 2px;
      width: 100%;
      animation: line3 1s linear infinite;
      animation-delay: .5s;
    }

    @keyframes line3 {

      0% {
        left: $direction;
      }

      50%,
      100% {
        left: -($direction);
      }
    }

    &:nth-child(4) {
      position: absolute;
      left: 0;
      bottom: -($direction);
      height: 100%;
      width: 2px;
      animation: line4 1s linear infinite;
      animation-delay: $four;
    }

    @keyframes line4 {

      0% {
        top: $direction;
      }

      50%,
      100% {
        top: -($direction);
      }
    }

  }
}

//? close btn
@mixin close-btn () {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #4d69f5 0%, $main-color 100%);
    background-size: 200%;
    transform: rotate(-45deg);
    box-shadow: 0 0 5px #4D69F5;
    animation: btn 3s ease infinite;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #4d69f5 0%, $main-color 100%);
    background-size: 200%;
    transform: rotate(45deg);
    box-shadow: 0 0 5px #4D69F5;
    animation: btn 2s ease infinite;
  }

  &:hover {

    &::after,
    &::before {
      box-shadow: 0 0 5px #4D69F5, 0 0 5px $main-color;

    }
  }

}