// colors
$main-color: #066F14; // mein color
$second-color:#DFFFE3; //second color
$text-color: #4A4A4A; //text color
$title-color: #1A1A1A; //title||links color
// -----------------------------------
// fonts
$title-font: goldman,
serif; // main font family
$main-font: nunito,
serif; // title font family
$main-fsize: 1rem; //mein font size
$title-fsize: 2.5rem; //mein font size
// -----------------------------------